<a [routerLink]="['/']">
  <h1>M Vendas</h1>
</a>


<a class="button fancy-button cadastro">
  <i class="material-icons">house</i>
  Checkout
</a>
<a class="button fancy-button cadastro">
  <i class="material-icons">house</i>
  Checkout
</a>
<a class="button fancy-button cadastro" [routerLink]="['/lista-pj']">
  <i class="material-icons">house</i>
  Pessoa Juridica
</a>
<a class="button fancy-button cadastro" [routerLink]="['/lista-produtos']">
  <i class="material-icons">house</i>
  Produtos
</a>
<a class="button fancy-button cadastro" [routerLink]="['/lista-categorias']">
  <i class="material-icons">house</i>
  Categorias
</a>
