<h3 class="title">Lista de Produtos</h3>
<table class="table table-sm">
    <tr>
        <th>Nome do Produto</th>
        <th>Valor</th>
        <th>Editar</th>
        <th>Inativar</th>
        <th>Detalha</th>
    </tr>
    <tr  *ngFor="let produto of produtos">
        <td>{{ produto?.nomeProduto }}</td>
        <td>{{ produto?.valorAtual | currency : 'BRL' : "symbol"}}</td>
        <td><a routerLink="{{ '/edita-produto/' + produto.idProduto }}">Editar</a></td>
        <td><a routerLink="{{ '/inativa-produto/' + produto.idProduto }}">Inativar</a></td>
        <td>
            <a routerLink="{{ '/detalha-produto/' + produto.idProduto }}">Detalhar </a>
        </td>
    </tr>
</table>

<div>
    <button class="primary-button" [routerLink]="['/cadastra-produto']">
        Cadastrar Produto
    </button>

    <button class="primary-button" [routerLink]="['/']">
        Pagina Inicial
    </button>
</div>